@import url("https://fonts.googleapis.com/css2?family=Besley:wght@400;500;600;700&family=Cutive&family=Cutive+Mono&family=Mr+De+Haviland&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-haviland {
   font-family: "Mr De Haviland", cursive;
}
.font-play-fair {
   font-family: "Playfair Display", serif;
}
.font-roboto {
   font-family: "Roboto", sans-serif;
}
.font-roboto-slab {
   font-family: "Roboto Slab", serif;
}
.font-popings {
   font-family: "Poppins", sans-serif;
}
.font-cutive {
   font-family: "Cutive", serif;
}
.font-cutive-mono {
   font-family: "Cutive Mono", monospace;
}
.font-belsey {
   font-family: "Besley", serif;
}

.text-shadow {
   text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
